<h2>Users</h2>

<button (click)="addUser({firstName: 'Marry', lastName: 'Jackson', isActive: true})" [disabled]="!enableAdd" class="btn btn-block mb-3">Add New User click</button>

<button (mouseover)="addUser({firstName: 'Sri', lastName: 'Sri', isActive: true})" [disabled]="!enableAdd" class="btn btn-block mb-3">Add New User - mouseover</button>

<button (mouseup)="addUser({firstName: 'Sri', lastName: 'Sri', isActive: true})" [disabled]="!enableAdd" class="btn btn-block mb-3">Add New User - mouseup</button>

<button (mousedown)="addUser({firstName: 'Sri', lastName: 'Sri', isActive: true})" [disabled]="!enableAdd" class="btn btn-block mb-3">Add New User - mousedown</button>

<button (mouseout)="addUser({firstName: 'Sri', lastName: 'Sri', isActive: true})" [disabled]="!enableAdd" class="btn btn-block mb-3">Add New User - mouseout</button>

<button (dblclick)="addUser({firstName: 'Sri', lastName: 'Sri', isActive: true})" [disabled]="!enableAdd" class="btn btn-block mb-3">Add New User - dblclick</button>

<button (drav)="addUser({firstName: 'Sri', lastName: 'Sri', isActive: true})" [disabled]="!enableAdd" class="btn btn-block mb-3">Add New User - </button>

<button (dragover)="addUser({firstName: 'Sri', lastName: 'Sri', isActive: true})" [disabled]="!enableAdd" class="btn btn-block mb-3">Add New User - dragover</button>

<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
  <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive">
    <h3>{{ user.firstName }} {{ user.lastName }}
      <small><button (click)="user.hide= !user.hide" class="btn btn-dark btn-sm">Toggle Inline</button></small>
      <small><button (click)="toggleHide(user)" class="btn btn-dark btn-sm">Toggle with function</button></small> 
  
      <small *ngIf="user.age && user.address"><button (click)="user.hide= !user.hide" class="btn btn-dark btn-sm"><i [ngClass]="user.hide?' fa fa-plus': 'fa fa-minus'"></i></button></small>
  </h3>
    <ul class="list-group" *ngIf="!user.hide && user.age && user.address">
      <li class="list-group-item">Age: {{ user.age }}</li>
      <li class="list-group-item">Address: {{ user.address.street }} {{ user.address.city }}, {{ user.address.state }}</li>
      <li class="list-group-item">Joined: {{ user.registered | date }}</li>
    </ul>
  </li>
</ul>

<h4 *ngIf="users?.length == 0">No Users Found</h4>

<h4 *ngIf="!loaded">Loading Users...</h4>